<!DOCTYPE html>
<html>

<head>
    <title>"Basic Concepts of JS"</title>
    <link rel="stylesheet" type="text/css" href="css/concepts.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="clientconcepts.js"></script>
</head>

<body>
    <div id="container"></div>
    <!--<button onclick="sendRequest()">Click me</button> -->
</body>

</html>
